
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.btn {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 5px;
}


.books {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  margin: 5px;
  display: none;
}

.container{
  margin-left: 25px;
  margin-right:25px;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
