
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 100px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position: absolute;
  float: none;
  top: 5%;
  left: 15%;
}

.btn {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 5px;
}


.books {
  float: right;
  color: #ffffff;
  margin: 5px;
  display: none;
  cursor: pointer;
}

.container{
  margin-left: 25px;
  margin-right:25px;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

#logo{
  float: left;
  margin-bottom: 5px;
}

#header:not(.dropdown-content){
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: reguler;
}

#header #left-navbar{
  text-decoration: none;
  color: #173695;
  margin: 0px 30px;
  vertical-align: 50px;
  line-height: 150px;
}

#header #right-navbar{
  text-decoration: none;
  color: #173695;
  margin: 0px 10px;
  line-height: 150px;
  float: right;
}

#header input{
  margin-top: 65px;
  line-height: 10px;
  text-decoration: #173695;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #173695;
}

#header a:hover{
  font-weight: bolder;
  color:teal;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}