@font-face {
    font-family: reguler;
    src:url(../fonts/Montserrat-Regular.ttf)
}
@font-face {
    font-family: bold;
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}

body {
	font-family: reguler;
	background-color: rgb(255, 255, 255);
}


#header{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: reguler;
}

#header #left-navbar{
    text-decoration: none;
    color: #173695;
    margin: 0px 30px;
    vertical-align: 50px;
    line-height: 150px;
}

#header #right-navbar{
    text-decoration: none;
    color: #173695;
    margin: 0px 10px;
    line-height: 150px;
    float: right;
}

#header input{
    margin-top: 65px;
    line-height: 10px;
    text-decoration: #173695;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #173695;
}

#header a:hover{
    font-weight: bolder;
    color:teal;
}

#right-navbar a:hover{
    font-weight: bolder;
    color:teal;
    text-decoration: underline;
}

#right-navbar{
    display: inline;
}

#body-header{
    margin: 200px 100px 20px 100px;
    height: 500px;
    width: 80%px;
}

#body-header a{
   margin-left: 200px;
   color: #173695;
   float: left;
}

#btn_startshop{
    height: 50px;
    background-color: #173695; 
    color: white; 
    font-family: bold;
    width: 250px;
    margin-top: 15px;
    border: none;
}

#btn_startshop:hover{
    cursor: pointer;
    background-color: teal;
}

#demo{
    float: right;
    vertical-align: top;
    display: inline;
}